@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Noto+Sans:wght@300&display=swap');

@mixin button() {
  font-size: 13px;
  background-color: white;
  border: #cacaca solid 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #c0c0c0;
  padding: 6px 12px;
  cursor: pointer;

  &:hover, &:focus {
    background-color: #f6f6f6;
    box-shadow: 1px 1px 1px #e0e0e0;
  }
}

* {
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0px;
}

:not(p) {
  user-select: none;
}

header {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-bottom: #cacaca solid 1px;
  box-shadow: 0 0 4px #c0c0c0;

  #back {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 60%;
      height: 1px;
      background: black;
      transform: rotate(30deg);
      transform-origin: top left;
      top: 50%;
      left: 25%;
    }

    &::after {
      transform: rotate(-30deg);
      transform-origin: bottom left;
    }
  }

  #title {
    font-weight: normal;
    font-size: 20px;
    margin: 0 5px;
  }
}

main {
  padding: 10px 15px;

  #list-view {
    .menu {
      button {
        @include button();
        font-size: 15px;
        padding: 10px 20px;
      }
    }
  
    .list {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & > div {
        border-bottom: #cacaca solid 1px;
        border-radius: 8px;
        box-shadow: 0 0 4px #c0c0c0;
        padding: 15px;
        cursor: pointer;

        &:hover {
          background-color: #fafafa;
          box-shadow: 0px 0px 4px #e0e0e0;
        }

        p {
          font-size: 22px;
          margin: 5px;
        }
      }
    }
  }
}

#dialog {
  display: none;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1)
  }

  .view {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    border: #cacaca solid 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #c0c0c0;
    padding: 20px;

    h1 {
      font-weight: 500;
      font-size: 22px;
      margin: 0;
      margin-bottom: 6px;
    }

    p.message {
      font-size: 15px;
      margin-bottom: 6px;
      margin-left: 2px;
      margin-right: 2px;
    }

    p {
      font-size: 14px;
      margin: 0 2px;
    }

    input {
      width: 300px;
      font-size: 18px;
      padding: 4px 6px;
      margin-bottom: 4px;
      border: #cacaca solid 1px;
      border-radius: 5px;
      outline: none;

      &:focus {
        border: #b0b0b0 solid 1px;
      }
    }

    .button-outer {
      display: flex;
      margin-top: 10px;
      justify-content: flex-end;
      gap: 8px;

      button {
        @include button();
        width: 100%;
      }
    }
  }
}
