@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Noto+Sans:wght@300&display=swap');

@mixin button() {
  font-size: 13px;
  background-color: white;
  border: #cacaca solid 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #c0c0c0;
  padding: 6px 12px;
  cursor: pointer;

  &:hover, &:focus {
    filter: brightness(0.96);
    box-shadow: 1px 1px 1px #e0e0e0;
  }
}

@mixin bigButton() {
  @include button();
  height: 100px;
  width: 150px;
  font-size: 40px;
  font-weight: 300;
  border-radius: 10px;
}

@mixin input() {
  font-size: 18px;
  padding: 4px 6px;
  border: #cacaca solid 1px;
  border-radius: 5px;
  outline: none;

  &:not(:read-only):focus {
    border: #b0b0b0 solid 1px;
  }
}

* {
  outline: none;
  font-family: 'Noto Sans JP', 'Noto Sans', sans-serif;
}

:not(p) {
  user-select: none;
}

button {
  @mixin color($background, $color, $hover) {
    background-color: $background !important;
    color: $color !important;
    
    &:hover {
      filter: $hover !important;
    }
  }

  $white: white;
  $hover-dark: brightness(0.94);

  &.color-red { @include color(#e56060, $white, $hover-dark) }
  &.color-blue { @include color(#3a72d2, $white, $hover-dark) }
  &.color-green { @include color(#60ba60, $white, $hover-dark) }
}

label:has(input[type=radio]) {
  font-size: 15px;
  background-color: white;
  border-left: #cacaca solid 1px;
  padding: 8px 16px;
  cursor: pointer;

  &:first-of-type {
    border-left: none;
    border-radius: 5px 0 0 5px;
  }

  &:last-of-type {
    border-radius: 0 5px 5px 0;
  }

  &:hover, &:focus, &:has(input[type=radio]:checked) {
    filter: brightness(0.96);
    box-shadow: 1px 1px 1px #e0e0e0;
  }

  @at-root div:has(> label) {
    width: fit-content;
    display: flex;
    border-radius: 5px;
    border: #cacaca solid 1px;
  }

  & > input {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;

  &-thumb {
    background-color: #a0a0a0;
    border-radius: 5px;
    border: transparent 2px solid;
    background-clip: content-box;
  }
}

html {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

header {
  display: flex;
  position: relative;
  align-items: center;
  padding: 8px 12px;
  border-bottom: #cacaca solid 1px;
  box-shadow: 0 0 4px #bababa;

  #back {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      height: 1px;
      background: black;
      transform: rotate(30deg);
      transform-origin: top left;
      top: 50%;
      left: 25%;
    }

    &::after {
      transform: rotate(-30deg);
      transform-origin: bottom left;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  #title {
    font-weight: normal;
    font-size: 20px;
    height: 30px;
    margin: 0 5px;
    white-space: nowrap;
    overflow-x: hidden;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  #menu {
    display: flex;
    gap: 8px;
    padding: 8px 10px;
    border-bottom: #c0c0c0 1px solid;
    background-color: #f8f8f8;

    button {
      @include button();
      font-size: 15px;
      padding: 10px 20px;
    }
  }

  #list-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .menu {
      padding: 10px;
      display: flex;
      gap: 8px;

      button {
        @include button();
        font-size: 15px;
        padding: 8px 16px;
      }
    }
  
    .list {
      padding: 10px;
      padding-top: 2px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;

      & > div {
        display: flex;
        border-bottom: #cacaca solid 1px;
        border-radius: 8px;
        box-shadow: 0 0 4px #c0c0c0;
        padding: 15px;
        cursor: pointer;
        gap: 8px;

        &:hover, &:focus {
          background-color: #fafafa;
          box-shadow: 0px 0px 4px #e0e0e0;
        }

        p {
          flex-grow: 1;
          flex-shrink: 1;
          pointer-events: none;
          font-size: 22px;
          margin: 5px;
          white-space: nowrap;
          overflow-x: hidden;
        }

        button {
          @include button();
          font-size: 15px;
          padding: 10px 15px;
          white-space: nowrap;

          &.start {
            padding: 10px 20px;
          }
        }
      }

      & > hr {
        height: 0px;
        width: 99%;
        border-top: #d4d4d4 1px solid;
        margin: 5px auto;
      }
    }
  }

  #question-view, #edit-question-view {
    $gap: 8px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: $gap;
    padding: $gap;
    height: 100%;
    box-sizing: border-box;

    p {
      grid-row: 1;
      margin: 0 3px;

      &:nth-of-type(1) {
        grid-column: 1;
      }

      &:nth-of-type(2) {
        grid-column: 2;
      }
    }

    textarea {
      @include input();
      font-size: 28px;
      resize: none;
    }

    .question {
      grid-row: 2;
      grid-column: 1;
    }

    .answer {
      grid-row: 2;
      grid-column: 2;
    }

    .button-outer {
      grid-row: 3;
      grid-column: 1 / -1;
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      button {
        @include button();
        min-width: 100px;
      }
    }
  }

  #question-view {
    grid-template-rows: auto 1fr;
  }

  #start-test-view {
    .setting {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 12px auto;
      width: fit-content;

      div {
        display: flex;
        align-items: center;

        > p:first-child {
          margin: 5px;
          width: 70px;
        }

        > div:first-of-type + * {
          margin-left: 10px;
        }

        > input {
          @include input();
          height: 20px;
          
          &[type=number] {
            width: 40px;
            
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
              appearance: none;
            }
          }

          & + p {
            margin: 3px;
          }
        }

        > div:not(:has(label:last-child > input:checked)) + input {
          color: #909090;
        }
      }
    }

    .start {
      @include button();
      display: block;
      font-size: 16px;
      padding: 10px 20px;
      margin: 16px auto;
    }
  }

  #test-question-view, #test-answer-view {
    .content {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      text-align: center;
      width: 90%;
      white-space: pre-wrap;
    }
  }

  #test-view {
    * {
      position: absolute;
    }

    .current-question {
      top: 0;
      right: 0;
      margin: 10px 20px;
      font-size: 28px;
      color: #606060;
    }

    .back {
      @include bigButton();
      position: absolute;
      margin: 20px;
      left: 0px;
      bottom: 0px;
    }
  }

  #test-question-view {
    .check {
      @include bigButton();
      position: absolute;
      margin: 20px;
      right: 0px;
      bottom: 0px;
    }
  }

  #test-answer-view {
    .button-outer {
      margin: 20px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      display: flex;
      gap: 15px;

      button {
        @include bigButton(); 
      }
    }
  }

  #test-result-view {
    .correct-answer-rate {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 35%;
      left: 50%;

      span:first-child {
        position: relative;
        top: 20px;
        left: -20px;
        font-size: 40px;
      }

      span:last-child {
        font-size: 160px;
        font-weight: 300;
      }
    }

    .again, .back {
      @include button();
      position: absolute;
      height: 100px;
      width: 200px;
      font-size: 40px;
      font-weight: 300;
      border-radius: 10px;
      top: 70%;
      transform: translateX(-50%);
    }

    .again {
      left: 35%;
    }

    .back {
      left: 65%;
    }
  }
}

#dialog {
  display: none;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1)
  }

  .view {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    border: #cacaca solid 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #c0c0c0;
    padding: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 500;
      font-size: 22px;
      margin: 0;
      margin-bottom: 2px;
    }

    p.message {
      font-size: 15px;
      margin: 4px 2px 0;

      &:not(:has(+ .button-outer)) {
        margin-bottom: 6px;
      }
    }

    p {
      font-size: 14px;
      margin: 4px 2px 0;
    }

    label {
      margin: 4px 0 0;
      font-size: 15px;
    }

    input:not([type=checkbox]), select {
      @include input();
      width: 300px;
    }

    input[type=checkbox] {
      position: relative;
      top: 1px;
      margin: 0;
      margin-right: 7px;
      transform: scale(1.2);
    }

    select {
      width: 312px;
    }

    .button-outer {
      display: flex;
      margin-top: 14px;
      justify-content: flex-end;
      gap: 8px;

      button {
        @include button();
        width: 100%;
      }
    }
  }
}
